PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
ADMIN_EMAIL=admin@hitianinside.in
ADMIN_PASSWORD=admin123
JWT_SECRET=hitian_secret_key_2026
MONGODB_URI=mongodb+srv://hitianinsideofficialdev_db_user:<db_password>@hitianevent.1ezszvb.mongodb.net/hitianevent?retryWrites=true&w=majority&appName=HitianEvent
