PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

ADMIN_EMAIL=admin@hitianinside.in
ADMIN_PASSWORD=your_admin_password_here
JWT_SECRET=your_jwt_secret_here

MONGODB_URI=mongodb+srv://hitianinsideofficialdev_db_user:<password>@hitianevent.1ezszvb.mongodb.net/hitianevent?retryWrites=true&w=majority&appName=HitianEvent

IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

BREVO_API_KEY=your_brevo_v3_api_key_here
BREVO_SENDER_EMAIL=events@hitianinside.in
BREVO_SENDER_NAME=HITian Inside Events

GOOGLE_DRIVE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_DRIVE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id_here
